
<% include partials/header %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/products.js"></script>
<section id="products-display">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="mini-menu">
          <ul>
            <div class="header-item">Category</div>
            <li class="sub">
              <a href="#">Frozen</a>
              <ul>
               <li><a href="#">Dumplings</a></li>
               <li><a href="#">Fish-balls</a></li>
               <li><a href="#">Buns</a></li>
              </ul>
            </li>
            <li class="sub">
              <a href="#">Dried</a>
              <ul>
                <li><a href="#">Hotpot</a></li>
                <li><a href="#">Snacks</a></li>
              </ul>
            </li>
            <li class="sub">
              <a href="#">Ramen</a>
              <ul>
                <li><a href="#">Korean</a></li>
                <li><a href="#">康师傅</a></li>
              </ul>
            </li>
          </ul>
          <div class="header-item">Price</div>
          <div class="container">
            <p>
              <input type="text" readonly id="amount">
            </p>
            <div id="slider-range"></div>
          </div>
        </div> <!-- end of <div class="mini-menu"> -->
      </div> <!-- end of <div class="col-3"> -->
      <div class="col-9">
        <div class="container">
          <div class="row">
              <% products.forEach(function(products){ %>
                <div class="col-md-4 col-sm-6">
                  <div class="product-grid6" data-price=<%=products["price"]%>>
                    <div class="product-image6">
                      <img src=<%= products["imgUrl"]%>  alt=<%=products["name"]%>></img>
                    </div>
                    <div class="product-content">
                      <h5 class="title"><%= products["name"]%></h5>
                      <div class="price"><%= products["price"]%> DKK </div>
                    </div>
                    <ul class="social"><!-- 
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li> -->
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                  </div> <!-- end of  <div class="product-grid6"> -->
                </div> <!-- end of  <div class="col-md-3 col-sm-6"> -->
              <% }) %>
          </div> <!--  end of <div class="row"> -->
        </div> <!--  end of <div class="container"> -->
        <button class="loadmore">Load More</button>
      </div> <!-- end of <div class="col-9"> -->
    </div> <!-- end of <div class="row"> -->
  </div>
<hr>
</section>
<% include partials/footer %>