
<% include partials/header %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/products.js"></script>
<section id="products-display">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="mini-menu">
          <ul>
            <div class="header-item">Category</div>
            <li>
                <a href="/products">All products</a>
              </li>
            <% categories.forEach(function(category){ %>
              <li>
                <a href="/products/category/<%=category%>"><%=category%></a>
              </li>
            <% }) %>
          </ul>
          <div class="header-item">Price</div>
          <div class="container">
            <p>
              <input type="text" readonly id="amount">
            </p>
            <div id="slider-range"></div>
          </div>
        </div> <!-- end of <div class="mini-menu"> -->
      </div> <!-- end of <div class="col-3"> -->
      <div class="col-9">
        <div class="container">
          <div class="row">
              <% products.forEach(function(product){ %>
                <div class="col-md-4 col-sm-6">
                  <div class="product-grid6" data-price=<%=product["price"]%>>
                    <div class="product-image6">
                      <img src=<%= product["imgUrl"]%>  alt=<%=product["name"]%>></img>
                    </div>
                    <div class="product-content">
                      <h5 class="title"><%= product["name"]%></h5>
                      <div class="price"><%= product["price"]%> DKK </div>
                    </div>
                    <ul class="social"><!-- 
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li> -->
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                  </div> <!-- end of  <div class="product-grid6"> -->
                </div> <!-- end of  <div class="col-md-3 col-sm-6"> -->
              <% }) %>
          </div> <!--  end of <div class="row"> -->
        </div> <!--  end of <div class="container"> -->
        <button class="loadmore">Load More</button>
      </div> <!-- end of <div class="col-9"> -->
    </div> <!-- end of <div class="row"> -->
  </div>
<hr>
</section>
<% include partials/footer %>