<% include partials/header %>
<p> Name: <%= product['name'] %> </p>
<p> Price: <%= product['price'] %> </p>
<p> Category: <%= product['category'] %> </p>
<p> Quantity: <%= product['quantity'] %> </p>
<img src="<%= product['imgUrl']%>" alt="<%= product['name']%>">
<% include partials/footer %>
